
e-menuitem {
    display: flex;
    user-select: none;
    white-space: nowrap;
}

e-menuitem:focus-within {
    background-color: var(--focus-background-color);
}

e-menuitem[disabled] {
    color: lightgrey;
}

e-menuitem[disabled]:focus-within {
    background-color: whitesmoke;
}

e-menuitem:is([type="menu"], [type="submenu"]) [slot="menu"] {
    z-index: 1;
    position: absolute;
}

e-menuitem:is([type="menu"], [type="submenu"]):not([expanded]) [slot="menu"] {
    opacity: 0;
    pointer-events: none;
}

e-menuitem::part(content) {
    flex: auto;
    display: flex;
    pointer-events: none;
}

e-menuitem[type="submenu"]::part(content) {
    margin-left: 22px;
}

e-menuitem::part(icon),
e-menuitem::part(label) {
    padding: 2px;
}

e-menuitem::part(icon) {
    flex: none;
    display: inline-block;
    width: 18px;
    height: 18px;
    overflow: hidden;
}

e-menuitem::part(label) {
    flex: auto;
    line-height: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

e-menuitem:is(:not([type]), [type="button"], [type="radio"], [type="checkbox"])[checked]::part(icon) {
    background-color: rgba(135, 206, 250);
}

e-menuitem:is(:not([type]), [type="button"], [type="radio"], [type="checkbox"])::part(icon)::before {
    display: inline-block;
    width: 18px;
    height: 18px;
    content: "";
    mask-size: 18px 18px;
    -webkit-mask-size: 18px 18px;
    background-color: var(--icon-color, none);
    -webkit-mask-image: var(--icon-image, none);
    mask-image: var(--icon-image, none);
    filter: var(--icon-filter, none);
}

e-menuitem::part(arrow) {
    flex: none;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 1px 4px 1px 1px;
}

e-menuitem::part(arrow)::after {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 1px;
    content: "";
    mask-size: 18px 18px;
    -webkit-mask-size: 18px 18px;
    background-color: var(--arrow-color, none);
    -webkit-mask-image: var(--arrow-image, none);
    mask-image: var(--arrow-image, none);
    filter: var(--arrow-filter, none);
}