e-menu {
    display: flex;
    flex-direction: column;

    padding: 3px;
    background-color: white;
    width: max-content;

    -webkit-box-shadow: var(--menu-box-shadow);
    box-shadow: var(--menu-box-shadow);
}

e-menu[contextual] {
    z-index: 1;
    position: absolute;

    transition-property: opacity;
    transition-duration: 0.2s;
    opacity: 0;
}

e-menu[contextual]:focus-within {
    opacity: 1;
}

e-menuitem {
    display: flex;
    user-select: none;
    white-space: nowrap;
}

e-menuitem:focus-within {
    background-color: var(--focused-item-color);
}

e-menuitem:is([type="menu"], [type="submenu"]) [slot="menu"] {
    z-index: 1;
    position: absolute;
}

e-menuitem:is([type="menu"], [type="submenu"]):not([expanded]) [slot="menu"] {
    opacity: 0;
    pointer-events: none;
}

e-menuitem[type="submenu"]::part(icon) {
    visibility: hidden;
}

e-menuitem[type="menu"]::part(icon),
e-menuitem:not([type="submenu"])::part(arrow) {
    display: none;
}

e-menuitem::part(icon),
e-menuitem::part(label),
e-menuitem::part(arrow) {
    pointer-events: none;
}

e-menuitem::part(icon),
e-menuitem::part(label) {
    padding: 2px;
}

e-menuitem::part(icon) {
    flex: none;
    display: inline-block;
    width: 18px;
    height: 18px;
    overflow: hidden;
    margin-right: 4px;
}

e-menuitem::part(label) {
    flex: auto;
    line-height: 18px;
    margin-left: 8px;
    margin-right: 8px;
}

e-menuitem:is(:not([type]), [type="button"], [type="radio"], [type="checkbox"])[checked]::part(icon) {
    background-color: var(--activated-item-color);
}

e-menuitem:is(:not([type]), [type="button"], [type="radio"], [type="checkbox"])::part(icon)::before {
    display: inline-block;
    width: 18px;
    height: 18px;
    content: "";
    mask-size: 18px 18px;
    -webkit-mask-size: 18px 18px;
    background-color: var(--icon-color, none);
    -webkit-mask-image: var(--icon-image, none);
    mask-image: var(--icon-image, none);
    filter: var(--icon-filter, none);
}

e-menuitem::part(arrow) {
    flex: none;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 1px 4px 1px 1px;
}

e-menuitem::part(arrow)::after {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 1px;
    content: "";
    mask-size: 18px 18px;
    -webkit-mask-size: 18px 18px;
    background-color: var(--arrow-color, none);
    -webkit-mask-image: var(--arrow-image, none);
    mask-image: var(--arrow-image, none);
    filter: var(--arrow-filter, none);
}