e-menubar {
    display: flex;
    flex-direction: row;
    width: max-content;
}

e-menubar:focus > e-menuitem:hover,
e-menubar:not(:focus-within) > e-menuitem:hover {
    background-color: var(--hovered-item-color);
}

e-menubar:focus {
    outline: 1px solid var(--focused-item-outline-color);
    outline-offset: -1px;
}