e-gridrow {
    display: table-row;
}

e-gridrow[droptarget] {
    background-color: var(--droptarget-item-color);
}

e-gridrow:hover {
    background-color: var(--hovered-item-color);
}

e-gridrow:focus {
    background-color: var(--focus-background-color);
}

e-gridrow[active] {
    outline: 1px solid var(--focused-item-outline-color);
    outline-offset: -1px;
}

e-gridrow[selected] {
    background-color: var(--selected-item-color);
}