e-grid {
    display: table;
    user-select: none;
}

e-gridrow {
    display: table-row;
}

e-gridbody,
e-gridhead {
    display: table-row-group;
}

e-gridcell {
    display: table-cell;
    text-align: left;
}

e-gridcell[type="columnheader"]:hover {
    background-color: var(--hovered-item-color);
}

e-grid:focus {
    outline: 1px solid var(--focused-item-outline-color);
    outline-offset: -1px;
}

e-grid:is(:not([selectby]), [selectby="cell"]) e-gridcell:hover,
e-grid:is([selectby="row"]) e-gridrow:hover {
    background-color: var(--hovered-item-color);
}

e-grid e-gridheader:hover {
    background-color: var(--hovered-item-color);
}

e-gridcell[type="columnheader"]:active {
    background-color: var(--focused-item-color);
}

e-grid:focus-within:is(:not([selectby]), [selectby]) e-gridcell[active],
e-grid:focus-within:is([selectby="row"]) e-gridrow[active] {
    outline: 1px solid var(--focused-item-outline-color);
    outline-offset: -1px;
}

e-grid:is(:not([selectby]), [selectby="cell"]) e-gridcell[selected],
e-grid:is([selectby="row"]) e-gridrow[selected] {
    background-color: var(--selected-item-color);
}

e-grid:is(:not([selectby]), [selectby="cell"]) e-gridrow:focus-visible,
e-grid:is([selectby="row"]) e-gridcell:focus-visible {
    outline: none;
}