e-grid {
    display: table;
}

e-gridcell {
    display: table-cell;
    user-select: none;
}

e-gridcell[droptarget] {
    background-color: var(--droptarget-item-color);
}

e-gridcell:hover {
    background-color: var(--hovered-item-color);
}

e-gridcell:focus {
    background-color: var(--focused-item-color);
}

e-gridcell[active] {
    outline: 1px solid var(--focused-item-outline-color);
    outline-offset: -1px;
}

e-gridcell[selected] {
    background-color: var(--selected-item-color);
}

e-gridrow {
    display: table-row;
}

e-gridrow[droptarget] {
    background-color: var(--droptarget-item-color);
}

e-gridrow:hover {
    background-color: var(--hovered-item-color);
}

e-gridrow:focus {
    background-color: var(--focused-item-color);
}

e-gridrow[active] {
    outline: 1px solid var(--focused-item-outline-color);
    outline-offset: -1px;
}

e-gridrow[selected] {
    background-color: var(--selected-item-color);
}