e-gridcell {
    display: table-cell;
    user-select: none;
}

e-gridcell[droptarget] {
    background-color: var(--droptarget-item-color);
}

e-gridcell:hover {
    background-color: var(--hovered-item-color);
}

e-gridcell:focus {
    background-color: var(--focus-background-color);
}

e-gridcell[active] {
    outline: 1px solid var(--focused-item-outline-color);
    outline-offset: -1px;
}

e-gridcell[selected] {
    background-color: var(--selected-item-color);
}