e-list {
    display: block;
}

e-list:focus {
    outline: 1px solid var(--focused-item-outline-color);
    outline-offset: -1px;
}

e-listitem {
    display: flex;
    user-select: none;
    line-height: 22px;
}

e-listitem[droptarget] {
    background-color: var(--droptarget-item-color);
}

e-listitem:hover {
    background-color: var(--hovered-item-color);
}

e-listitem[active] {
    outline: 1px solid var(--focused-item-outline-color);
    outline-offset: -1px;
}

e-listitem:focus {
    background-color: var(--focus-background-color);
}

e-listitem[selected] {
    background-color: var(--selected-item-color);
}

e-listitemgroup {
    display: block;
}