e-tablist {
    display: block;
    position: relative;
}

e-tab {
    display: inline-block;
    user-select: none;
    white-space: nowrap;
    padding: 2px 6px;
    border: 1px solid var(--section-border-color);
}

e-tab[disabled] {
    opacity: 0.38;
    pointer-events: none;
}

e-tab:hover {
    background-color: var(--hovered-item-color);
}

e-tab[selected] {
    background-color: white;
    z-index: 1;
    padding: 4px 6px;
    border-bottom: none;
}

e-tab:not([selected]) {
    transform: translateY(1px);
    background-color: whitesmoke;
}

e-tablist:focus-within e-tab:focus-visible {
    outline: 1px solid var(--focused-item-outline-color);
    outline-offset: -1px;
}

e-tabpanel {
    display: block;
    padding: 6px;
}

e-tabpanel[hidden] {
    display: none;
}

e-tablist {
    transform: translateY(1px);
}

e-tabpanel {
    padding: 4px;
    border: 1px solid var(--section-border-color);
}

e-tab:has(+ e-tab[selected]) {
    border-right: none;
}

e-tab[selected] + e-tab {
    border-left: none;
}