e-listitem {
    display: flex;
    user-select: none;
    line-height: 22px;
}

e-listitem[droptarget] {
    background-color: var(--droptarget-item-color);
}

e-listitem:hover {
    background-color: var(--hovered-item-color);
}

e-listitem[active] {
    outline: 1px solid var(--focused-item-outline-color);
    outline-offset: -1px;
}

e-listitem:focus {
    background-color: var(--focus-background-color);
}

e-listitem[selected] {
    background-color: var(--selected-item-color);
}

/*[part="label"] {
    order: 0;
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
}

::slotted([slot="toolbar"]) {
    order: 1;
}

::slotted([slot="badge"]) {
    order: 2;
    pointer-events: none;
}

::slotted([slot="menu"]) {
    position: absolute;
}*/