e-select {
    display: flex;
    flex-direction: column;
    user-select: none;
}

e-select::part(content) {
    flex: 1;
    overflow: hidden;
    padding: 0 4px;
    pointer-events: none;
}

e-select::part(description) {
    padding: 2px 6px 2px 36px;
}

e-select::part(label) {
    flex: auto;
    margin-right: 16px;
}

e-select::part(value) {
    flex: auto;
    text-align: right;
}

e-select::part(options) {
    z-index: 1;
    position: absolute;

    display: flex;
    flex-direction: column;
    
    padding: 6px 0;

    background-color: white;

    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;
    -moz-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;
}

e-select:not([expanded])::part(options) {
    opacity: 0;
    pointer-events: none;
}

e-select::part(content)::after {
    display: inline-block;
    text-align: center;
    width: 18px;
    height: 18px;
    margin-left: 6px;
    content: "▾";
}

e-select::part(separator) {
    margin: 10px 0px 10px 36px;
    border: none;
    border-top: 1px solid lightgrey;
}