e-treeitem .badge {
    margin-left: 4px;
    order: 2;
}

e-treeitem .label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: auto;
}

e-treeitem:is(
    :not(:is(:hover, [selected], [active])),
    :not(:is([selected], [active])):hover:has(> e-treeitemgroup:hover),
) > e-toolbar {
    display: none;
}

.form-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.dialog-footer {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.dialog-footer button {
    margin: auto 0 auto 8px;
}

.dialog-footer button:first-child {
    margin-left: auto;
}

e-tablist {
    transform: translateY(1px);
}

e-tab {
    border: 1px solid var(--section-border-color);
}

e-tab:not([selected]) {
    background-color: lightgrey;
}

e-tabpanel {
    padding: 8px;
    border: 1px solid var(--section-border-color);
}

e-tab[selected] {
    background-color: white;
    z-index: 1;
    padding: 3px 6px;
    border-bottom: none;
}

e-tab:has(+ e-tab[selected]) {
    border-right: none;
}

e-tab[selected] + e-tab {
    border-left: none;
}