* {
    box-sizing: content-box;
}

html {
    /*scrollbar-color: var(--accent-color) Canvas;*/
}

:root {
    accent-color: var(--accent-color);
}

:focus-visible {
    outline: none;
}

::selection {
    background-color: var(--selected-item-color);
}

::marker {
    color: var(--accent-color);
}
  
input,
output,
button,
select,
textarea {
    font-family: inherit;
}

select {
    height: var(--padded-line-height);
}

input,
progress {
    height: var(--line-height);
}

input:is([type="radio"], [type="checkbox"]) {
    width: var(--line-height); 
}
/*
*:focus-visible {
    outline: 1px solid var(--focused-item-outline-color);
    outline-offset: -1px;
    outline: none;
}*/

input[type="color" i] {
    border: none;
    padding: 0;
}

::-webkit-color-swatch {
    border: none;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-webkit-search-cancel-button {
    appearance: none;
}

button {
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    height: var(--padded-line-height);
}

table {
    border-spacing: 0;
}

ul {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}