input, select, button,
body {
    border: 1px solid grey;
    font-family: inherit;
}

*:focus-visible {
    outline: 1px solid var(--focused-item-outline-color);
    outline-offset: -1px;
}

button {
    appearance: none;
    background: none;
    border: none;
    padding: 0;
}

menu {
    padding: 0;
    margin: 0;
}

li, ul {
    margin: 0;
    padding: 0;
}

summary {
    padding: 0;
    margin: 0;
    list-style: none;
}

summary {
    padding-left: var(--indent-width);
}

summary::before {
    display: inline-block;
    width: 18px;
    height: 18px;
    color: black;
    text-align: center;
    margin-right: 12px;
}

details:not([open]) summary::before {
    content: var(--collapsed-symbol);
}
            
details[open] summary::before {
    content: var(--expanded-symbol);
}

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}