* {
    box-sizing: content-box;
}

html {
    scrollbar-color: var(--accent-color) Canvas;
}
  
:root { accent-color: var(--accent-color); }

:focus-visible {
    outline-color: var(--accent-color);
}

::selection {
    background-color: var(--selected-item-color);
}

::marker {
    color: var(--accent-color);
}
  
input,
output,
button,
select,
textarea {
    font-family: inherit;
}

select {
    height: var(--padded-line-height);
}

input,
progress {
    height: var(--line-height);
}

input:is([type="radio"], [type="checkbox"]) {
    width: var(--line-height); 
}

*:focus-visible {
    /*outline: 1px solid var(--focused-item-outline-color);
    outline-offset: -1px;*/
    outline: none;
}

input[type="color" i] {
    border: none;
    padding: initial;
}

::-webkit-color-swatch {
    border: initial;
}

::-webkit-color-swatch-wrapper {
    padding: initial;
}

::-webkit-search-cancel-button {
    appearance: none;
}

button {
    appearance: none;
    background: initial;
    border: initial;
    padding: initial;
    height: var(--padded-line-height);
}

table {
    border-spacing: initial;
}

html,
body {
    height: 100%;
    margin: initial;
    overflow: hidden;
}