:root {
    --font-color: black;
    --focus-background-color: rgba(135, 206, 250, 0.5);

    --icon-color: black;
    --icon-size: 18px;
    --line-height: 18px;

    --menu-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px;

    --primary-color: white;
    --secondary-color: white;

    --text-color: white;
    --text-darker-color: white;
    --text-lighter-color: white;

    --background-color: white;
    --background-darker-color: white;
    --background-lighter-color: white;

    --hovered-item-color: rgba(135, 206, 250, 0.38);
    --focused-item-color: rgb(220, 220, 220);
    --focused-item-outline-color: rgb(135, 206, 250);
    --selected-item-color: rgba(135, 206, 250, 0.62);
    --activated-item-color: rgb(135, 206, 250);

    --hovered-item-text-color: rgb(0, 0, 0);
    --focused-item-text-color: rgb(0, 0, 0);
    --selected-item-text-color: rgb(0, 0, 0);

    --arrow-color: var(--font-color);
    --arrow-icon-collapsed: url("/sample/assets/arrow_right_FILL0_wght400_GRAD0_opsz48.svg");
    --arrow-icon-expanded: url("/sample/assets/arrow_drop_down_FILL0_wght400_GRAD0_opsz48.svg");
}