:is(e-wsash, e-hsash) {
    display: block;
    background-color: rgb(135, 206, 250);
    transition-property: opacity;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    opacity: 0;
}

e-wsash {
    width: 4px;
    cursor: ew-resize;
}

e-hsash {
    height: 4px;
    cursor: ns-resize;
}

:is(e-wsash, e-hsash):hover {
    opacity: 1;
}