e-tooltip {
    display: inline-block;
    position: fixed;
    padding: 4px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid black;
    pointer-events: none;
}

e-tooltip:not([visible]) {
    display: none;
}

e-tooltip::part(arrow) {
    display: inline-block;
    position: fixed;
    z-index: 1;
    width: 6px;
    height: 6px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid black;
    border-width: 0 1px 1px 0;
}

e-tooltip:is(:not([position]), [position="top"])::part(arrow) {
    transform: translate(-3px, -3px) rotate(45deg);
}

e-tooltip:is([position="bottom"])::part(arrow) {
    transform: translate(-3px, -3px) rotate(225deg);
}

e-tooltip:is([position="left"])::part(arrow) {
    transform: translate(-3px, -3px) rotate(315deg);
}

e-tooltip:is([position="right"])::part(arrow) {
    transform: translate(-3px, -3px) rotate(135deg);
}
