e-tooltip {
    display: inline-block;
    position: fixed;
    padding: 4px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid black;
}

e-tooltip:not([visible]) {
    display: none;
}

e-tooltip::part(arrow) {
    display: inline-block;
    position: fixed;
    width: 6px;
    height: 6px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid black;
    clip-path: polygon(100% 100%, 0 100%, 100% 0);
}

e-tooltip:is(:not([position]), [position="top"])::part(arrow) {
    transform: translate(-50%, -50%) rotate(45deg);
}

e-tooltip:is([position="bottom"])::part(arrow) {
    transform: translate(-50%, -50%) rotate(225deg);
}

e-tooltip:is([position="left"])::part(arrow) {
    transform: translate(-50%, -50%) rotate(315deg);
}

e-tooltip:is([position="right"])::part(arrow) {
    transform: translate(-50%, -50%) rotate(135deg);
}
