e-menubutton {
    display: inline-block;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
}

e-menubutton:focus {
    outline: 1px solid var(--focused-item-outline-color);
    outline-offset: -1px;
}

e-menubutton:focus-within:not(:focus) {
    background-color: var(--focused-item-color);
}

e-menubutton:hover:not(:focus-within) {
    background-color: var(--hovered-item-color);
}

e-menubutton[disabled] {
    color: lightgray;
}

e-menubutton [slot="menu"] {
    z-index: 1;
    position: absolute;
    color: initial;
}

e-menubutton:not([expanded]) [slot="menu"] {
    opacity: 0;
    pointer-events: none;
}

e-menubutton::after {
    display: inline-block;
    text-align: center;
    width: 18px;
    height: 18px;
    margin-left: 6px;
    content: "▾";
}