:host {
    display: block;
}

e-gridrow[hidden] {
    display: none;
}

e-gridcell[type="gridcell"] {
    max-width: 0;

    overflow: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
}

e-gridcell[type="columnheader"] {
    width: 120px;
}

.gridcell-label {
    padding-left: 4px;
}

.gridcell-content {
    overflow: clip;
}

.gridheader-content {
    display: flex;
}

.gridheader-label {
    flex: 1 1 0;
    overflow: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
}

e-gridhead e-wsash {
    opacity: 1;
}

e-gridhead e-wsash:not(:hover) {
    flex: 0 0 auto;
    background-color: lightgrey;
    width: 2px;
    margin-right: 1px;
    margin-left: 1px;
}