:host {
    display: block;
}

.offscreen {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    display: block;
    pointer-events: none;
}

.dragimage {
    white-space: nowrap;
    margin: 1px;
    display: inline-block;
    outline: 1px solid var(--focused-item-outline-color);
    outline-offset: -1px;
    border-radius: 3px; 
    padding: 2px 4px;
}
/*
.treeitem > .content > .toolbar {
    margin-left: 4px;
}*/