e-toolbaritem {
    display: flex;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 4px;
}

e-toolbaritem:hover,
e-toolbaritem:focus-within {
    color: black;
    background-color: lightgray;
}

e-toolbaritem:not([type]),
e-toolbaritem[type="button"],
e-toolbaritem[type="checkbox"],
e-toolbaritem[type="radio"],
e-toolbaritem[type="menubutton"] {
    height: 18px;
    padding: 2px;
}

e-toolbaritem[type="select"] {
    padding: 0;
    width: auto;
}

e-toolbaritem[type="select"] [slot="select"] {
    height: 22px;
    line-height: 22px;
}

e-toolbaritem[disabled] {
    color: lightgray;
}

e-toolbaritem::part(content) {
    flex: auto;
    display: flex;
}

e-toolbaritem::part(label) {
    flex: auto;
}

e-toolbaritem[label]::part(icon) {
    display: none !important;
}

e-toolbaritem:is(:not([type]), [type="button"], [type="radio"], [type="checkbox"])::part(icon) {
    flex: none;
    display: inline-block;
    width: 18px;
    height: 18px;
    overflow: hidden;
}

e-toolbaritem:is(:not([type]), [type="button"], [type="radio"], [type="checkbox"])::part(icon)::before {
    display: inline-block;
    width: 18px;
    height: 18px;
    content: "";
    mask-size: 18px 18px;
    -webkit-mask-size: 18px 18px;
    background-color: var(--icon-color, none);
    -webkit-mask-image: var(--icon-image, none);
    mask-image: var(--icon-image, none);
    filter: var(--icon-filter, none);
}