e-toolbar {
    display: flex;
    flex-direction: row;
}

e-toolbaritemgroup {
    display: flex;
    width: max-content;
    flex-direction: row;
}

e-toolbaritem {
    display: flex;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
    line-height: 22px;
}

e-toolbaritem::part(icon) {
    flex: none;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 2px;
    overflow: hidden;
}

e-toolbaritem::part(icon)::before {
    display: inline-block;
    width: 18px;
    height: 18px;
    content: "";
    mask-size: 18px 18px;
    -webkit-mask-size: 18px 18px;
    background-color: var(--icon-color, none);
    -webkit-mask-image: var(--icon-image, none);
    mask-image: var(--icon-image, none);
    filter: var(--icon-filter, none);
}

e-toolbaritem[disabled] {
    opacity: 0.38;
    pointer-events: none;
}

e-toolbaritem:hover {
    background-color: var(--hovered-item-color);
}

e-toolbaritem[pressed] {
    background-color: var(--activated-item-color);
}

e-toolbar:focus-within e-toolbaritem:focus-within {
    outline: 1px solid var(--focused-item-outline-color);
    outline-offset: -1px;
}

e-toolbaritem:is([type="menubutton"]) > e-menubutton:focus,
e-toolbaritem:is([type="select"]) > e-select:focus {
    outline: none;
    outline-offset: none;
}

e-toolbaritem[type="menubutton"] > e-menu {
    z-index: 1;
    position: absolute;
}

e-toolbaritem[type="menubutton"]:not([expanded]) > e-menu {
    opacity: 0;
    pointer-events: none;
}