e-tree {
    display: block;
}

e-tree:focus {
    outline: 1px solid var(--focused-item-outline-color);
    outline-offset: -1px;
}

e-treeitem {
    display: block;
    user-select: none;
}

e-treeitem[droptarget] {
    background-color: var(--droptarget-item-color);
}

e-treeitem[active]:focus-visible {
    outline: none;
}

e-tree:focus-within e-treeitem[active]::part(content) {
    outline: 1px solid var(--focused-item-outline-color);
    outline-offset: -1px;
}

e-treeitem:focus::part(content) {
    background-color: var(--focus-background-color);
}

e-treeitem::part(content):hover {
    background-color: var(--hovered-item-color);
}

e-treeitem[selected]::part(content) {
    background-color: var(--selected-item-color);
}

e-treeitem::part(content) {
    display: flex;
    line-height: 22px;
    padding-left: calc(var(--level) * var(--indent-width, 12px));
}

e-treeitem:not([type="parent"]) [slot="group"],
e-treeitem:not([expanded]) [slot="group"] {
    display: none;
}

e-treeitem:not([type="parent"])::part(arrow)::before {
    visibility: hidden;
}

e-treeitem::part(arrow) {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 1px 4px 1px 1px;
}

e-treeitem::part(arrow)::before {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 1px;
    content: "";
    mask-size: 18px 18px;
    -webkit-mask-size: 18px 18px;
    background-color: var(--arrow-color, none);
    filter: var(--arrow-filter, none);
}

e-treeitem:not([expanded])::part(arrow)::before {
    -webkit-mask-image: var(--arrow-icon-collapsed, none);
    mask-image: var(--arrow-icon-collapsed, none);
}

e-treeitem[expanded]::part(arrow)::before {
    -webkit-mask-image: var(--arrow-icon-expanded, none);
    mask-image: var(--arrow-icon-expanded, none);
}